.vs
CMakeFiles
ALL_BUILD.*
INSTALL.*
ZERO_CHECK.*
CMakeCache.txt
bin/
include/
lib/
build-vs2022/
build/

**/CMakeFiles
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.dir
**/cmake_install.cmake
**/imgui.ini

# Apple files
**/.DS_Store
